body{margin:0;padding: 0;}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top{
  background: linear-gradient(45deg, orange, red, yellow);
  width: 100%;
  text-align: right;
  padding-top: 50px;
}

.bottom{
  text-align: center;
  background: linear-gradient(45deg, blue, lightblue, white);
}
