<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> <%= title %> </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat:900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <nav class="shadow navbar rounded navbar-expand-lg navbar-dark" style="background-color:#5edfff;">
    <a class="navbar-brand">Portal</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="home">
        <a class="nav-link" href="/">CV</a>
      </li>
      <li class="nav-item" id="hobbies">
        <a class="nav-link" href="/hobbies">HOBBIES</a>
      </li>
      <li class="nav-item" id="about">
        <a class="nav-link" href="/about">ABOUT ME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/qa">Q/A</a>
      </li>
    </ul>
  </nav>
  <div class="container">
