<%-include('partials/header');-%>
<h1>Curriculum Vitae (CV)</h1>
<p>Personal Details: 
First name: Noam
Last name: Marko
Phone number: 0532726556.
Email address: noamma@markodt.com
LinkedIn profile: linkedin.com/in/noam-marko-14628267
Current residence: Bat Yam.

Education:
Higher Education:
2019:
•	FED, course at lifemichael training center.
•	full-stack web developer (The Complete 2019 Web Development Bootcamp) at Udemy.
2015-2018: Software practical engineer at Handesaim, Tel Aviv
Computer language skills: c, c#, vb.net, SQL, assembly 8086, html, CSS, JS, AngularJS, PHP, Ajax, java.
Collage website: https://www.cts.org.il/

Previous employment:
2018(current position):
Brimag-Service - CIO
2015 – 2018:
P.T.R LTD – System Admin & PC Technician.
Attending users service calls in domain environment.
Working with AD, DNS, DHCP, GPO and Microsoft Exchange.
2010-2011:
012 Smile – ISP technical support representative.
Attending service phone calls from users.
Advising new representatives with on the best way to resolve customers' technical issues.
Attending escalated service calls (repeating customers) as a senior representative.

Languages:
Hebrew – native language.
English – fluent.
Spanish – basic familiarity.
</p>
<%-include('partials/footer');-%>
